<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Salut, world!</h1>
    <p> <%= test %> </p>

    <div class="ui main container">
      <form action="/" method="post" class="ui form">
        <div class="field">

          <label for="nom">Nom : </label>
          <input type="text" id="nom" name="nom"/>
          <br/><br/>
          <button type="submit">Valider</button>
        </div>
      </form>
    </div>

    </body>
</html>